---
http_interactions:
- request:
    method: post
    uri: https://translation.googleapis.com/language/translate/v2
    body:
      encoding: UTF-8
      string: '{"q":["awesome","stuff"],"target":"pl","source":"en"}'
    headers:
      Google-Cloud-Resource-Prefix:
      - projects/litbox-1543326618593
      Content-Type:
      - application/json
      Authorization:
      - Bearer REDACTED
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "data": {
            "translations": [
              {
                "translatedText": "niesamowite"
              },
              {
                "translatedText": "rzeczy"
              }
            ]
          }
        }
  recorded_at: Fri, 14 Dec 2018 11:07:07 GMT
recorded_with: VCR 4.0.0
