/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require './jquery-te-1.4.0.css'
 *= require_self
 */
.detail_wrapper{
  padding: 10px 0 0 50px;
}
.detail_wrapper table tr td.locale_row{
  width: 75px;
}
.localization_key_row .localization_keys_options{
  display: none;
  float: right;
}
.localization_key_row:hover .localization_keys_options{
  display: block;
}

li.key_prefix .fa-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.hidden{
  display: none;
}
i.fa{
  color: black;
}
.nav.nav-stacked>li>a {
padding: 5px 7px;
}
.well{
  background-color: white;
  border-radius: 0px;
}
.well label{
  font-weight: normal;
}
.localization_row em{
  color: #bbb;
}
