---
http_interactions:
- request:
    method: post
    uri: https://translation.googleapis.com/language/translate/v2
    body:
      encoding: UTF-8
      string: '{"q":["","awesome","","stuff"],"target":"pl"}'
    headers:
      Google-Cloud-Resource-Prefix:
      - projects/litbox-1543326618593
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.ElqNBtONxO3sNT5T1-qtaQE-6ImjJjwhffIA7KXaSjBMnSdZ_neeFTtirJwglYCuOmADQ42p8aA6cdR6r42wJT1B6ODQCQxKBRGEv86NdU58YY0egDnyUxc8i1w
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "data": {
            "translations": [
              {
                "translatedText": "",
                "detectedSourceLanguage": "en"
              },
              {
                "translatedText": "niesamowite",
                "detectedSourceLanguage": "en"
              },
              {
                "translatedText": "",
                "detectedSourceLanguage": "en"
              },
              {
                "translatedText": "rzeczy",
                "detectedSourceLanguage": "en"
              }
            ]
          }
        }
  recorded_at: Thu, 10 Jan 2019 13:47:15 GMT
recorded_with: VCR 4.0.0
