= form_for [@localization_key, @localization], :html=>{:remote=>true} do |f|
  = f.label :translated_value
  = f.text_area :translated_value, :size=>"40x2", :class=>"input-xxlarge"
  = f.submit t('lit.common.update', :default=>"Update")

  