<h1>
  <%= t('.header', :default=>"Hello header") %>
</h1>
<p id="welcome">
<%= t('scope.hello_world', :default=>"Hello there") %>
</p>
<p>
<%= t('scope.text_without_default') %>
</p>
<p>
<%= t('scope.text_with_default', :default=>"Default content") %>
</p>
