<h3><%= I18n.t('lit.not_translated_header', default: 'Not translated localization keys') %></h3>

<%= render 'localizations_list', available_locales: I18n.backend.available_locales %>

<% if defined?(Kaminari)  %>
  <%= paginate @localization_keys, :theme=>"lit" %>
<% end %>

<%= render 'sidebar' %>
