---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJzdGFydGluZy1hY2NvdW50LXViczN0amkwdW81YUBsaXRib3gtMTU0MzMyNjYxODU5My5pYW0uZ3NlcnZpY2VhY2NvdW50LmNvbSIsImF1ZCI6Imh0dHBzOi8vb2F1dGgyLmdvb2dsZWFwaXMuY29tL3Rva2VuIiwiZXhwIjoxNTQ0NzgxOTE2LCJpYXQiOjE1NDQ3ODE3OTYsInNjb3BlIjoiaHR0cHM6Ly93d3cuZ29vZ2xlYXBpcy5jb20vYXV0aC9jbG91ZC1wbGF0Zm9ybSJ9.n5GC1_pFeN2WRpPIVwYQRXa0yaY235fqFqpySGUYo62w4KBTjqKDPPxanrGj2_vMRrSP2sG-q2ENgU4AMPKKX3BaiOBPVAiSwthLKPfqfPOqbq_l90yUWBxG3ClH4wYuuiwXttl_2GOgc7Ictu9L1zhfa3qzFNUwjDdAGzQGMluT614TLjQJm32ouZ-gcGsNqBbseuG_R4-wfNzLfEa3qBKoBW0Wbj4tVLILLnhQa1jLrb9Mhlj-v9HlvdP1NGO6eIikqcwd0IXizMjqXT3KuKqZTkgW6eghf15Q9MDtKZwLEIopkmFa2Q3_oHkuB2g2J11wO2oMqoHN9IlOU6rB5g
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.ElpyBrgBHnuUALGkKDoclP3a3U_qO2DO6U0NLPGFZCnNHAi4Z-xiKW2xgXwHrH3uYyq2C0xSPKKE0d6_Xz6mExDG4fLzJTtBzUC3xXXU7Ts5DwZVj2OrOpz5im4",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Fri, 14 Dec 2018 10:04:16 GMT
- request:
    method: post
    uri: https://translation.googleapis.com/language/translate/v2
    body:
      encoding: UTF-8
      string: '{"q":["awesome","stuff"],"target":"pl"}'
    headers:
      Google-Cloud-Resource-Prefix:
      - projects/litbox-1543326618593
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.c.ElpyBrgBHnuUALGkKDoclP3a3U_qO2DO6U0NLPGFZCnNHAi4Z-xiKW2xgXwHrH3uYyq2C0xSPKKE0d6_Xz6mExDG4fLzJTtBzUC3xXXU7Ts5DwZVj2OrOpz5im4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "data": {
            "translations": [
              {
                "translatedText": "niesamowite",
                "detectedSourceLanguage": "en"
              },
              {
                "translatedText": "rzeczy",
                "detectedSourceLanguage": "en"
              }
            ]
          }
        }
  recorded_at: Fri, 14 Dec 2018 10:04:16 GMT
recorded_with: VCR 4.0.0
